// .banner {
//   background-size: cover;
//   background-position: right bottom;
//   padding: 200px 0px;
//   height: 100vh;
//   background-image: url(https://images.unsplash.com/photo-1493804714600-6edb1cd93080?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//   @media (min-width:0px) and (max-width:374px) {
//     background-image: none;
//     background-color: #7ab3d0;
//     padding: 100px 24px 100px 24px;
//     height: 125vh;
//     }
//   @media (min-width:375px) and (max-width:640px) {
//     background-image: none;
//     background-color: #7ab3d0;
//     padding: 100px 24px 100px 24px;
//     }
//   @media (min-width:641px) and (max-width:1300px) {
//     background-image: none;
//     background-color: #7ab3d0;
//     padding: 175px 48px 100px 48px;
//     }
// }

.container-cover {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 200px 0px;
  height: 100vh;
}

.container-home {
   padding: 0px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 70px;
}

.banner h1 {
  margin: 0;
  color: black;
  font-size: 40px;
  line-height: 47px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  text-align: left;
}

.banner p {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  background-color: black;
  border: none;
  padding: 16px 50px;
  border-radius: 4px;
  font-weight: bold;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat:hover {
  background: #FCBF1E;
  border: none;
  color: black;
  text-decoration: none;
}

.process {
  h2 {
    text-align: center;
    margin-top: 48px;
  }
  .gold-circle {
    background-color: #FCBF1E;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gold-circle h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 32px;
  }
  p {
    margin: 16px;
    text-align: center;
  }
}

.search {
  // background-color: white;
  height: 300px;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  h2 {
    @media (max-width: 480px) {
      text-align: center;
      margin-top: 48px;
      padding: 0 24px;
    }
  }

}

.platforms {
  h2 {
     margin-top: 55px;
    @media (min-width:0px) and (max-width:640px) {
      text-align: center;
    }
  }
}

.streaming-container {
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 48px;
}

  .backgroundcoverhome {
   width: 100%;
   height: 2850px;
   background: url("../images/v164_1.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   opacity: 1;
   position: relative;
   top: 0px;
   left: 0px;
 }
 .v139_1 {
   width: 100%;
   height: 986px;
   background: url("../images/v139_1.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   opacity: 1;
   position: absolute;
   top: 29px;
   left: 110px;
   overflow: hidden;
 }



  .v140_40 {
   width: 191px;
   color: rgba(40,56,88,1);
   position: absolute;
   top: 31px;
   left: 134px;
   font-family: Exo;
   font-weight: Black;
   font-size: 30px;
   opacity: 1;
   text-align: left;
 }


  .backgroundcoverhome2 {
   width: 100%;
   height: 100%;
   background-size: cover;
   opacity: 1;
   top: 200px;
   left: 0px;
   overflow: hidden;
 }

  .v137_1 {
   width: 100%;
   height: 100%;
   background: linear-gradient(rgba(168,177,241,1), rgba(253,209,164,1));
   opacity: 1;
   position: absolute;
   top: 1015px;
   left: 0px;
   overflow: hidden;
 }
 .v140_35 {
   width: 54px;
   color: rgba(255,255,255,1);
   position: absolute;
   top: 2865px;
   left: 570px;
   font-family: Exo;
   font-weight: Light;
   font-size: 50px;
   opacity: 1;
   text-align: left;
   transform: rotate(-35deg);
 }
 .fontheaderhome {
   width: 55%;
   // height: 404px;
   background: url("../images/v132_787.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   opacity: 1;
   // position: absolute;
   // top: 252px;
   // left: 185px;
   // overflow: hidden;
 }

  .fontheaderhome3 {
   width: 55%;
   // height: 404px;
   background: url("../images/v132_787.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   opacity: 1;
   // position: absolute;
   // top: 540px;
   // left: 185px;
   // overflow: hidden;
 }
 .fontheaderhome2 {
   width: 100%;
   color: rgba(40,56,88,1);
   // position: relative;
   // top: 48px;
   // left: 0px;
   font-family: Exo;
   font-weight: Regular;
   font-size: 80px;
   opacity: 1;
   text-align: left;
 }
 .fontheaderhome4 {
   width: 100%;
   color: rgba(40,56,88,1);
   // position: absolute;
   // top: 0px;
   // left: 0px;
   font-family: Exo;
   font-weight: Regular;
   font-size: 30px;
   opacity: 1;
   text-align: left;
 line-height: 40px;
 letter-spacing: 0.1em;
 }
 .fontsectionhome2 {
   width: 100%;
   // height: 2012px;
   // background-repeat: no-repeat;
   // background-position: center center;
   // background-size: cover;
   opacity: 1;
   // position: absolute;
   // top: 1360px;
   // left: 0px;
   overflow: hidden;
   color: rgba(40,56,88,1);
   top: 0px;
   // left: 52px;
   font-family: Exo;
   font-weight: Regular;
   font-size: 80px;
   text-align: center;
   // margin-top: 48px;
 }

  .fontsectionhome3 {
   width: 100%;
   color: rgba(255,255,255,1);
   // position: absolute;
   // top: 1026px;
   // left: 52px;
   font-family: Exo;
   font-weight: Regular;
   font-size: 80px;
   opacity: 1;
   text-align: center;
 }
 .fontsectionhome4 {
   width: 100%;
   color: rgba(40,56,88,1);
   // position: absolute;
   // top: 1833px;
   // left: 0px;
   font-family: Exo;
   font-weight: Regular;
   font-size: 70px;
   opacity: 1;
   text-align: center;
 }
 .fontsectionhome {
   // width: 373px;
   color: rgba(40,56,88,1);
   // position: absolute;
   top: 546px;
   left: 825px;
   font-size: 30px;
   opacity: 1;
   text-align: center;
 }

 .name {
   color: #fff;
 }




  .headercontainer2 {
 position: absolute;
 width: 100%;
 height: 100%;
 left: 0px;
 right: 0px;
 top: 0px;
 background: url(frame.png);
 background-repeat: round;
 }


  .headercontainer1 {
   left: 0px;
   bottom: 700px;
   background: url(header1.png);
   width: 100%;
   position: absolute;
 }

  .vector{

  position: absolute;
 width: 209px;
 height: 356px;
 left: 100px;
 top: 1050px;
 transform: rotate(335deg);
 // opacity:1;
 background-image: url(Vector.png);
 background-size: cover;
 background-position: center;
 }



  // button

  .startbutton {
   box-shadow: -7px 9px 0px 0px #1c2948;
   background:linear-gradient(to bottom, #919eff 5%, #919eff 100%);
   background-color:#919eff;
   border:1px solid #1c2948;
   display:inline-block;
   cursor:pointer;
   color:#1c2948;
   font-family: Exo;
   font-weight: bold;
   text-align: left;
   font-size: 14px;
   padding:24px 29px;
   text-decoration:none;
   margin-top: 52px;
 }
 .startbutton:hover {
   background-color:#919eff;
   text-decoration:none;
   color:#1c2948;
   box-shadow: -5px 7px 0px 0px #1c2948;
   margin-top: 52px;
 }
 .startbutton:active {
   position:relative;
   top:1px;
 }


  .startbutton2 {
   box-shadow: -7px 9px 0px 0px #FE9B9F;
   background:linear-gradient(to bottom, #FF6157 5%, #FF6157 100%);
   background-color:#FF6157;
   border:1px solid #1c2948;
   display:inline-block;
   cursor:pointer;
   color:#FFFFFF;
   font-family: Exo;
   font-weight: bold;
   text-align: center;
   font-size: 14px;
   padding: 0px 29px;
   text-decoration:none;
   margin-top: 32px;
  }


 .startbutton2:hover {
   background-color:#FF6157;
   text-decoration:none;
   color:#FFFFFF;
   box-shadow: -5px 7px 0px 0px #FE9B9F;
   margin-top: 32px;
 }
 .startbutton2:active {
   position:relative;
   top:1px;
 }


  .input3{
   font-family: 'Exo';
   font-weight: 400;
   height: 60px;
   width: 600px;
   font-size: 24px;
   display: block;
   border-bottom: 3px solid #0F0F92 !important;
   border: none;
   background-color: transparent;
 }

canvas {
  width: 600px!important;
  height: 293px!important;
}

.cube-and-start-btn {
  text-align-last: center;
}
