.search-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: white;
  border-radius: 5px;
}


.streaming-links {
  // display: ;
  // padding: 10px;
  // justify-content: space-between;
  margin-top: 16px;
  display:flex;
  flex-direction: column;
}

.cover-search {
  height: 250px;
  // background-color: #7ab3d0;
  h3 {
    text-align: center;
    font-size: 50px;
    color: #283858;
  }
  p {
    text-align: center;
  }
}

.btn-search {
  color: black;
  background-color: #7AB3D0;
  border-color: #7AB3D0;
  padding: 5px 16px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  &:hover {
   background: #46a1ce;
   color: black;
 }
}

input {
  height: 60px;
   background-color:transparent;
   border: transparent;
   border-color: transparent;
   font-weight: 400;
   height: 60px;
   width: 100%;
   font-size: 24px;
   display: block;
   border: none;
   border-bottom: 1px solid #0F0F92;
  }

input#netflix,
input#amazon,
input#disney_plus {
  display: none;
}

label#netflix,
label#amazon,
label#disney_plus {
  margin: 0px 5px;
}

input#netflix+label#netflix {
  border: 1px solid #999;
  background-image: url(https://pmcvariety.files.wordpress.com/2020/05/netflix-logo.png?w=1024);
  opacity: 0.3;
  background-position: center;
  background-size: cover;
  padding: 4px 12px;
  border-radius: 4px 4px 4px 4px;
  position: relative;
  top: 1px;
  height: 75px;
  width: 115px;
  text-align: center;
}

input#disney_plus+label#disney_plus {
  border: 1px solid #999;
  background-image: url(https://i.ytimg.com/vi/vcr-u5ot0Xg/maxresdefault.jpg);
  opacity: 0.3;
  background-position: center;
  background-size: cover;
  padding: 24px 32px;
  border-radius: 4px 4px 4px 4px;
  position: relative;
  top: 1px;
  height: 75px;
  width: 115px;
  text-align: center;
}

input#amazon+label#amazon {
  border: 1px solid #999;
  background-image: url(https://i.pcmag.com/imagery/reviews/02dIsBiVpmVTMeXkrKxWy0W-13.1582749138.fit_scale.size_1028x578.png);
  opacity: 0.3;
  background-position: center;
  background-size: cover;
  padding: 4px 12px;
  border-radius: 4px 4px 4px 4px;
  position: relative;
  top: 1px;
  height: 75px;
  width: 115px;
  text-align: center;
}

input#netflix+label#netflix:hover,
input#amazon+label#amazon:hover,
input#disney_plus+label#disney_plus:hover {
  cursor: pointer;
  opacity: 1;
}

input#netflix:checked+label#netflix,
input#amazon:checked+label#amazon,
input#disney_plus:checked+label#disney_plus {
  opacity: 1;
}

input#netflix~.tab,
input#amazon~.tab,
input#disney_plus~.tab {
  border-top: 1px solid #999;
  padding: 12px;
}

h2.does-not-appear {
  color: #ad0606;
  font-size: 50px;
}

h2.does-appear {
  color: #06ad1c;
  font-size: 50px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
//    width: 500px;
  height: 500px;
  position: relative;
}

.card-tripimage {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}




.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}


 .card-trip-user2 {
  position: absolute;
  right: 100px;
  top: -20px;
  width: 70px;
}

 .card-trip-user3 {
  position: absolute;
  right: 180px;
  top: -20px;
  width: 70px;
}

.search-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.thumb{
  position: absolute;
  top: 5px;
  left: 5px;

  i {
    font-size: 24px;
  }
}
