li.streaming-services {
  display: flex;
  border: 1px solid #000000;
  padding: 10px;
  margin: 53px 56px 0px -40px;
}


.cover-search {
  height: 250px;
  background-color: #7ab3d0;
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
