.arrows-navigation {
  position: relative;
  z-index: 1000;
  top: 300px;
  font-size: 24px;
  color: #ced2d9;
  i:hover {
    cursor: pointer;
    color: white;
  }
}

.user-cover {
  height: 100px;
}

.user-container {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.user-banner {
  background-size: cover;
  background-position: center;
}

.user-details {
  text-align: center;
}

h2#welcome-user {
  font-size: 50px;
  font-weight: 900;
  color: #283858;
}

.user-name {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.user-info {
  font-size: 24px;
  padding: 5px 30px;
}

.user-streaming-services {
  text-align: center;
  color: #283858;
}

.user-netflix-logo-1,
.user-amazon-logo-1,
.user-disney-logo-1 {
  height: 100px;
  border: 1px solid #000000;
  background-position: center;
  background-size: cover;
  border-radius: 4px 4px 4px 4px;
  text-align: center;
}

.user-netflix-logo-2,
.user-amazon-logo-2,
.user-disney-logo-2 {
  height: 100px;
  opacity: 30%;
  border: 1px solid #000000;
  background-position: center;
  background-size: cover;
  border-radius: 4px 4px 4px 4px;
  text-align: center;
}

.media-user-container {
  padding: 0px;
  text-align: center;
}

.media-user-details-container {
  padding: 0px;
  text-align: center;
}

input#tab1,
input#tab2,
input#tab3 {
  display: none;
}

input#tab1+label#tab1,
input#tab2+label#tab2,
input#tab3+label#tab3 {
  display: inline-block
}

input#tab1~.tab,
input#tab2~.tab,
input#tab3~.tab {
  display: none
}

#tab1:checked~.tab.content1,
#tab2:checked~.tab.content2,
#tab3:checked~.tab.content3,
#tab4:checked~.tab.content4,
#tab5:checked~.tab.content5 {
  display: block;
}

input#tab1+label#tab1,
input#tab2+label#tab2,
input#tab3+label#tab3 {
  color: #283858;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

input#tab1+label#tab1:hover,
input#tab2+label#tab2:hover,
input#tab3+label#tab3:hover {
  cursor: pointer;
}

input#tab1:checked+label#tab1,
input#tab2:checked+label#tab2,
input#tab3:checked+label#tab3 {
  opacity: 1;
  border-bottom: 3px solid #283858;
}

input#tab1,
input#tab2,
input#tab3~.tab {
  padding: 12px;
}

.edit-user-link {
  margin: 0px 0px 10px 0px;
}

.user-edit-btn {
  font-size: 10px;
}

.your-services {
  padding: 0px;
  margin: 0px;
}

.previous-recommendations {
  margin: 10px;
}
