.user-cover {
  height: 100px;
  background-color: #7ab3d0;
}

.user-banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.user-details {
  color: #ffffff;
  text-align: center;
}

.user-name {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.user-info {
  background-color: #7ab3d0;
  font-size: 24px;
  padding: 10px 30px;
}

.edit-user-link {
  margin: 10px;
}

input#tab1,
input#tab2,
input#tab3 {
  display: none;
}

input#tab1+label#tab1, input#tab2+label#tab2, input#tab3+label#tab3 {
  display: inline-block
}

input#tab1~.tab,
input#tab2~.tab,
input#tab3~.tab {
  display: none
}

#tab1:checked~.tab.content1,
#tab2:checked~.tab.content2,
#tab3:checked~.tab.content3,
#tab4:checked~.tab.content4,
#tab5:checked~.tab.content5 {
  display: block;
}

input#tab1+label#tab1,
input#tab2+label#tab2,
input#tab3+label#tab3 {
  border: 1px solid #999;
  background: #EEE;
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
  position: relative;
  top: 1px;
}

input#tab1+label#tab1:hover,
input#tab2+label#tab2:hover,
input#tab3+label#tab3:hover {
  cursor: pointer;
}

input#tab1:checked+label#tab1,
input#tab2:checked+label#tab2,
input#tab3:checked+label#tab3 {
  background: #FCBF1E;
  border-bottom: 1px solid transparent;
}

input#tab1,
input#tab2,
input#tab3~.tab {
  border-top: 1px solid #999;
  padding: 12px;
}
