<div class="slider-container">
    <ul class="arrows-navigation controls d-flex justify-content-between p-0" id="customize-controls1" aria-label="Carousel Navigation" tabindex="0">
      <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
        <i class="fas fa-angle-left fa-2x"></i>
      </li>
      <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
        <i class="fas fa-angle-right fa-2x"></i>
      </li>
    </ul>
    <div class="my-slider1 align-banner1">
      <% @bookmarked_index.each do |item| %>
        <% media = @media.where(id: item.media_id) %>
        <% media.each do |e| %>
          <%= link_to media_path(e.id) do  %>
            <div class="card-category-home" style="background-image: url(<%= e.poster %>)"></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>

