.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent;
    background-clip: none;
    border: none;
    border-radius: 0px;
    outline: 0;
}

@media (min-width: 992px) {
 .modal-lg {
    max-width: 1180px;
  }
}

.modal {
  background-color: rgba(0,0,0,0.5);
}
