.category-choices {
  display: inline-flex;
  flex-flow: wrap;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.category-choice {
  margin: 3px 3px -9px 0px;
}

.radio__input {
  display: none;
}

.radio__label {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.radio__label:not(last-of-type) {
  border-right: 1px solid #006B56;
}

.radio__input:checked + .radio__label {
  background: #FCBF1E;
  border: 1px solid #FCBF1E;
  color: black;
  font-weight: normal;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  opacity: 1;
}
