.cover-survey {
  height: 300px;
  background-color: #A3B1F9;

  h1 {
    position: absolute;
    // width: 432px;
    // height: 106px;
    font-family: Exo;
    text-align: center;
    font-style: normal;
    font-weight: bold !important;
    font-size: 50px;
    line-height: 106px;
    letter-spacing: 0.05em;
    color: #283858;
    // text-border: 300px solid #090E35;
  }

}

body {
  background-color: #A3B1F9;
}

.container2 {
  padding: 0px;
  // display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
}

.survey-container {
  overflow: hidden;
  height: 400px;
  background-color: #A3B1F9;
  margin-top: 0px;
}

fieldset.form-group-2-right,
fieldset.form-group-3-right,
fieldset.form-group-4-right,
fieldset.form-group-5-right,

.buttonsubmit-right {
  position: absolute;
  left: 100vw;
  // display: none;
  transition: all 0.4s ease !important;
}

fieldset.form-group-1-center {
  position: absolute;
  top: 0px;
  left: 0vw;
  transition: all 0.4s ease;
}

fieldset.form-group-2-center,
fieldset.form-group-3-center,
fieldset.form-group-4-center,
fieldset.form-group-5-center,
.buttonsubmit-center {
  position: absolute;
  top: 0px;
  left: 0vw;
  transition: all 0.4s ease !important;
}

fieldset.form-group-1-left,
fieldset.form-group-2-left,
fieldset.form-group-3-left,
fieldset.form-group-4-left,
fieldset.form-group-5-left {
  position: absolute;
  left: -100vw;
  transition: all 0.4s ease;
}

.category-choices {
  display: inline-flex;
  flex-flow: wrap;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.category-choice {
  margin: 3px 3px -9px 0px;
}

.radio__input {
  display: none;
}

.radio__label:not(last-of-type) {
  border-right: 1px solid #4A4A4A;
}

.radio__input:checked+.radio__label.surveymoodbutton {
  background: #FCBF1E;
  border: 1px solid #FCBF1E;
  color: black;
  font-weight: normal;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  opacity: 1;
}


// loading starts here

.background-holder {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A3B1F9;
}

.central-box {
  background-color: #ffffff00;
  border-radius: 8px;
  width: 70vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


@media (max-width: 576px) {
  .central-box {
    width: 80vw;
  }
}

.spin {
  text-align: center;

  h3 {
    font-size: 40px;
    font-weight: semi-bold;
    padding-bottom: 30px;
    margin: auto;

    background-color: #00000000;
    padding: 2px 15px 4px;
    border-radius: 4px;
  }
}

.loader {
  animation: spin 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
  border: 10px solid #fff;
  border-top: 10px solid #f6407e;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  margin: 0 auto;
}

@keyframes spin {
  to {
    border-top-color: #ec407a;
    transform: rotate(360deg);
  }
}

.cube-start {
  transform: scale(0.01, 0.01);
}

.cube-end {
  transition: all 1s ease-out;
}

.label {
  left: 157px;
  font-family: Exo;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #090E35;
}

.surveymoodbutton {
  box-shadow: -16px 12px 0px 0px #090e35;
  // background-color:#ad45c7;
  border:2px solid #090e35;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Exo;
  font-size:16px;
  padding:32px 32px;
  text-decoration:none;
  background-size: cover;

  &:hover {
    // background-image: #4A4A4A;
    cursor: pointer;
    opacity: 1;
    background-size: cover;
  }
}
.surveymoodbutton:hover {
  opacity: 20%;
}

.surveymoodbutton:active {
  position:relative;
  top:1px;
}




// .imagemood{
// // position: absolute;
// width: 107px;
// height: 107px;
// // left: 163px;
// // top: 674px;
// background-image: url(sad.jpg);
// }

.c-account-home-button4 {
  cursor: pointer;
  height: 84px;
  background-color: #C5CDFF !important;
  box-shadow: -5px 5px #0f0f92 !important;
  border: 2px solid #0F0F92 !important;
  font-family: 'Exo' !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  width: 274px !important;
  margin-top: 50px !important;
  margin-bottom: 25px !important;
  border-radius: 0 !important;
}

//  .c-account-home-button4:hover {
//   cursor: pointer;
//   height: 84px;
//   background-color: #C5CDFF;
//   box-shadow: -5px 5px #0f0f92;
//   border: 2px solid #0F0F92;
//   font-family: 'Exo';
//   font-weight: 700;
//   font-size: 14px;
//   max-width: 274px;
//   margin-top: 50px;
//   margin-bottom: 25px;
// }
.radio__label2 {
  color: #4A4A4A;
  border: 1px solid #090E35;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #090E35 !important;

  &:hover {
    cursor: pointer;
    opacity: 1;
    background-color: #090e35;
    color: white !important;
  }
}

