.category-choices {
  display: inline-flex;
  flex-flow: wrap;
  border-radius: 15px;
}

.category-choice {
  margin: 3px 3px -9px 0px;
}

.radio__input {
  display: none;
}

.radio__label {
  padding: 9px 0px;
  font-weight: bold;
  text-align: center;
  margin: 9px 1px;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  background-color: #009578;
  cursor: pointer;
  transition: 0.1s;
  width: 143px;
  height: 36px;
  border-radius: 15px;
}

.radio__label:not(last-of-type) {
  border-right: 1px solid #006B56;
}

.radio__input:checked + .radio__label {
  background: #006B56;
}