// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
    background-color: #A3B1F9;
}

a {
  color: black;
  :hover {
    text-decoration: none;
    color: #0F0F92;
  }
}


